@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  font-family: pp mori;
  background-color: #6b7fe9;
  background-image: url(background.png);
  object-fit: contain;
  background-size: cover;
  /* background-repeat: no-repeat; */
}
#heading{
  background-color: #6b80e936;
  backdrop-filter: blur(5px);
}